/* Reset de márgenes y padding */
body, h1, ul, li {
    margin: 0;
    padding: 0;
}

/* Estilo para el cuerpo */
body {
    font-family: Arial, sans-serif;
    padding-top: 100px; /* Ajusta según el tamaño de la navbar */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh; /* Ocupa toda la altura visible */
    background: #f4f4f4;
}

/* Estilo para la navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 20;
    width: 100%;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
    z-index: 1000;
    box-sizing: border-box;
}

/* Contenido de la navbar */
.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    padding-left: 50px;
    box-sizing: border-box;
}

/* Logo en la navbar */
.navbar img {
    height: 60px; /* Ajusta el tamaño del logo en la navbar */
    transition: height 0.3s, transform 0.3s;
}

/* Estilo para los enlaces de la navbar */
.navbar nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar nav ul li {
    margin-left: 20px;
}

.navbar nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Estilo para el contenido del body */
.content {
    text-align: center; /* Centra el texto y otros elementos dentro del contenedor */
    width: 100%;
    max-width: 1200px; /* Asegura que el contenido no se estire demasiado */
    margin-top: 80px; /* Asegura que el contenido esté por debajo de la navbar */
    padding: 20px; /* Ajusta el padding según sea necesario */
    box-sizing: border-box;
}

/* Logo en el cuerpo */
#logo {
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    height: 100px;
    transition:height 1s, transform 0.3s;
}
