/* Estilos para la navbar */
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #333;
    color: white;
    padding: 15px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Ocultamos el logotipo de la navbar por defecto */
.navbar-logo {
    position: fixed;
    top: 15px; /* Alinear con la navbar */
    left: 15px; /* Alinear con la navbar */
    width: 40px; /* Reducir el tamaño del logotipo */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Transición suave para opacidad y movimiento */
    opacity: 0; /* Ocultar el logotipo inicialmente */
}

/* Estilos para el logotipo en el body */
.body-logo {
    position: absolute;
    top: 100px; /* Ajusta esto para que se alinee correctamente en el body */
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.5s ease, transform 0.5s ease; /* Transición suave para opacidad y movimiento */
}

/* Estado del logotipo cuando se mueve a la navbar */
.sticky-logo {
    transform: translateX(-50%) translateY(0); /* Ajustar según la posición de la navbar */
}
