/* Estilos para la navbar */
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #333;
    color: white;
    padding: 15px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    margin-left: 20px;
}

.navbar-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.navbar-links a:hover {
    color: #ddd;
}

/* Estilos para el logotipo en el body */
.body-logo {
    
    position: relative;
    margin: 100px auto;
    text-align: center;
    transition-duration: 2s;
}

.body-logo img {
    width: 150px;
    transition-duration: 2s;
}

/* Estilos para el contenido principal */
.main-content {
    margin-top: 200px; /* Espacio suficiente para ver el logo antes del scroll */
    padding: 20px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.main-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.main-content p {
    margin-bottom: 15px;
}

/* Estilos para el logotipo en la navbar */
.navbar-logo img {
    height: 40px; /* Tamaño del logo en la navbar */
    transition-duration: 2s;
}
