/* Estilos para la navbar */
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #333;
    color: white;
    padding: 15px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Ocultamos el logotipo de la navbar por defecto */
.navbar-logo {
    display: none;
}

.navbar-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    margin-left: 20px;
}

.navbar-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.navbar-links a:hover {
    color: #ddd;
}

/* Estilos para el logotipo en el body */
.body-logo {
    position: relative;
    margin: 100px auto;
    text-align: center;
    transition: transform 0.5s ease, width 0.5s ease; /* Transición suave para el movimiento y el tamaño */
    transform-origin: top left; /* El logotipo se deslizará desde la esquina superior izquierda */
}

.body-logo img {
    width: 150px;
}

/* Estilos para el contenido principal */
.main-content {
    margin-top: 200px; /* Espacio suficiente para ver el logo antes del scroll */
    padding: 20px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.main-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.main-content p {
    margin-bottom: 15px;
}

/* Estado del logotipo cuando se mueve a la navbar */
.sticky-logo {
    position: fixed;
    top: 15px; /* Alinear con la navbar */
    left: 15px; /* Alinear con la navbar */
    width: 40px; /* Reducir el tamaño del logotipo */
    transform: translateX(-50%) translateY(-50%); /* Deslizarse a la nueva posición */
    transition: transform 0.5s ease, width 0.5s ease; /* Aplicar la misma transición */
}
