/* Estilos para la navbar */
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #333;
    color: white;
    padding: 15px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilos para el logotipo en la navbar */
.navbar-logo {
    position: absolute;
    top: 15px;
    left: 15px;
    transition: opacity 0.5s ease, transform 0.5s ease; /* Transición suave para opacidad y transformación */
}

/* Estilos para el logotipo en el body */
.body-logo-container {
    position: relative;
    margin: 100px auto;
    text-align: center;
}

.body-logo {
    transition: transform 0.5s ease, width 0.5s ease; /* Transición suave para el movimiento y el tamaño */
}

.body-logo img {
    width: 150px;
}

/* Estado del logotipo cuando se mueve a la navbar */
.sticky-logo {
    position: fixed;
    top: 15px;
    left: 15px;
    width: 40px; /* Reducir el tamaño del logotipo */
    transform: translateX(0%) translateY(0%); /* Posicionar en la navbar */
}
