/* Reset de márgenes y padding */
body, h1, ul, li {
    margin: 0;
    padding: 0;
}

/* Estilo para el cuerpo */
body {
    font-family: Arial, sans-serif;
    padding-top: 100px; /* Ajusta según el tamaño de la navbar */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh; /* Ocupa toda la altura visible */
    background: #f4f4f4;
}

/* Estilo para la navbar */
.navbar {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent; /* La navbar es transparente por defecto */
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    z-index: 1000;
    box-sizing: border-box;
}

.navbar.scrolled {
    background-color: #333; /* Cambia a un color sólido cuando haces scroll */
}

/* Contenido de la navbar */
.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    padding-left: 50px;
    box-sizing: border-box;
    transition: padding 0.3s ease; /* Transición para suavizar el cambio de padding */
}

/* Estilo cuando se ha hecho scroll y el logo está en la navbar */
.navbar.scrolled .navbar-content {
    padding: 10px; /* Reduce el padding cuando se hace scroll */
    padding-left: 0px; /* Elimina el padding en la izquierda */
}

/* Logo en la navbar */
.navbar img {
    height: 60px; /* Ajusta el tamaño del logo en la navbar */
    transition: height 1.5s, transform 1.5s; /* Transiciones simultáneas */
}

/* Estilo para los enlaces de la navbar */
.navbar nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar nav ul li {
    margin-left: 20px;
}

.navbar nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Estilo para el contenido del body */
.content {
    text-align: center; /* Centra el texto y otros elementos dentro del contenedor */
    width: 100%;
    max-width: 1200px; /* Asegura que el contenido no se estire demasiado */
    margin-top: 80px; /* Asegura que el contenido esté por debajo de la navbar */
    padding: 20px; /* Ajusta el padding según sea necesario */
    box-sizing: border-box;
    margin-top: 30em;
}

/* Logo en el cuerpo */
#logo {
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    height: 300px;
    transition: top 1.5s, left 1.5s, height 1.5s, transform 1.5s;
}


#demoBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px; /* La imagen cubrirá la altura completa de la ventana */
    background-image: url("https://images.unsplash.com/photo-1529673203658-56306382b724?auto=format&fit=crop&w=1000&q=80&ar=16:9");
    background-size: cover;
    background-attachment: fixed;
    z-index: 1; /* Esto asegura que la imagen esté por debajo de la navbar */
}
