/* Estilos para la navbar */
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #333;
    color: white;
    padding: 15px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilos para el contenedor del logotipo en la navbar */
.navbar-logo {
    width: 40px;
    height: 40px;
    display: none;
}

/* Estilos para el logotipo en el body */
.body-logo {
    position: relative;
    margin: 100px auto;
    text-align: center;
    transition: transform 0.5s ease, top 0.5s ease, width 0.5s ease;
    transform-origin: top left;
}

.body-logo img {
    width: 150px;
}

/* Cuando el logotipo se mueve a la navbar */
.sticky {
    position: fixed;
    top: 15px;
    left: 15px;
    width: 40px;
    transform: translateX(0);
    transition: transform 0.5s ease, top 0.5s ease, width 0.5s ease;
}
