<body>
    <div id="demoBox"></div>
    <div class="navbar">
        <div class="navbar-content">
            <img id="logo" src="ruta-del-logotipo.png" alt="Logotipo">
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="content">
        <!-- Contenido aquí -->
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    </div>
</body>
