{% extends "base.html" %}

{% block content %}
<div class="body-logo-container" id="body-logo-container">
    <div class="body-logo" id="body-logo">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
    </div>
</div>

<div class="main-content">
    <h1>Bienvenido a Mi Aplicación</h1>
    <p>Este es un ejemplo de cómo el contenido se desplaza...</p>
    <!-- Agrega aquí más contenido para hacer scroll -->
    <!-- Se repite el contenido para demostrar el desplazamiento -->
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <!-- Puedes copiar y pegar este párrafo muchas veces para crear un contenido largo -->
    <!-- Asegúrate de tener suficiente contenido para hacer scroll -->
    <p>Este es un ejemplo de cómo el contenido se desplaza...</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Este es un ejemplo de cómo el contenido se desplaza...</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Este es un ejemplo de cómo el contenido se desplaza...</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Este es un ejemplo de cómo el contenido se desplaza...</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Este es un ejemplo de cómo el contenido se desplaza...</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Este es un ejemplo de cómo el contenido se desplaza...</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>

</div>
{% endblock %}
