<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Aplicación</title>
    <!-- Incluir hoja de estilo -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-logo" id="navbar-logo">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
        </div>
        <ul class="navbar-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    <div class="content">
        <div id="body-logo">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
        </div>
        <!-- Contenido de la página -->
        <h1>Welcome to My Application</h1>
        <p>This is the main content of the page.</p>

        <p>Este es un ejemplo de cómo el contenido se desplaza...</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Este es un ejemplo de cómo el contenido se desplaza...</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Este es un ejemplo de cómo el contenido se desplaza...</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Este es un ejemplo de cómo el contenido se desplaza...</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    </div>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
