{% extends "base.html" %}

{% block content %}
<div class="body-logo" id="body-logo">
    <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
</div>

<div class="main-content">
    <h1>Bienvenido a Mi Aplicación</h1>
    <p>Este es un ejemplo de cómo el contenido se desplaza...</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Este es un ejemplo de cómo el contenido se desplaza...</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>

    <p>Este es un ejemplo de cómo el contenido se desplaza...</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>

    <p>Este es un ejemplo de cómo el contenido se desplaza...</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>

    <p>Este es un ejemplo de cómo el contenido se desplaza...</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Este es un ejemplo de cómo el contenido se desplaza...</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Este es un ejemplo de cómo el contenido se desplaza...</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Este es un ejemplo de cómo el contenido se desplaza...</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Este es un ejemplo de cómo el contenido se desplaza...</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Este es un ejemplo de cómo el contenido se desplaza...</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dolor eu dui dapibus tempus. Integer ultricies mauris sit amet justo tempor, a dapibus nisl ultricies.</p>

</div>
{% endblock %}
