::selection {
  color: #FFFFFF; /* Color del texto seleccionado */
  background-color: #2c3e50; /* Color de fondo del texto seleccionado */
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Fuentes */
body {
  overflow-x: hidden;
  font-family: 'Nonito', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #2c3e50;  
 /* Espaciado de línea */
  color: #333; /* Color de texto */
  background-color: #FFFFFF; /* Color de fondo */
}


h1, h2, h3 {
  font-family: 'Nonito', sans-serif;
  margin: 0 0; /* Margen para encabezados */
}

.hero-content p {
  padding-bottom: 0;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5em;
  color: #f4f4f4;
}

.subtitle {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #f4f4f4;
}

#hero {
  background-color: #2c3e50; /* Color de fondo */
  height: 100vh; /* Altura de la sección hero */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative; /* Para posicionar la imagen del arquitecto */
  overflow: hidden; /* Oculta cualquier desbordamiento */
  padding: 2rem; /* Espaciado interno */
}

.hero-content {
  animation: slideInLeft 1.5s ease-out forwards;
  z-index: 2; /* Asegura que el contenido esté encima */
  position: relative; /* Para permitir el posicionamiento absoluto de la imagen */
  color: white; /* Color del texto en la sección hero */
  max-width: 600px; /* Ancho máximo para el contenido */
  width: 100vh;
  padding: 1rem; /* Espaciado interno */
  background: rgba(44, 62, 80, 0.8); /* Fondo semi-transparente para el contenido */
  border-radius: 10px; /* Bordes redondeados */
  text-align: left; /* Alineación a la izquierda */
  margin-right: 2rem; /* Espaciado a la derecha */
}

.hero-content h1 {
  padding-top: 2em;
  font-size: 4em; /* Tamaño del encabezado */
}

.hero-content p {
  padding-top: 1em;
  padding-bottom: 0.5em;
  font-size: 1.5rem; /* Tamaño del párrafo */
}

#about h1 {
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 3em !important; /* Tamaño del encabezado */
}

#about p {
  font-size: 1.5rem; /* Tamaño del encabezado */
}

#skills h1 {
  padding-top: 0.5em;
  padding-bottom: 1em;
  font-size: 3em !important; /* Tamaño del encabezado */
}

.services {
  padding-top: 1em;
  padding-bottom: 0.5em;
  font-size: 3em !important;
}

.hero-content img {
  padding-top: 2em;
  position: relative;
  height: 60%;
  width: 60%;
  padding-left: 25%;
}


/* Imagen del arquitecto */
.hero-image {
  animation: slideInRight 1.5s ease-out forwards;
  mask-image: linear-gradient(
    to bottom, black 55%, rgba(0, 0, 0, 0.01 )100%
);
  position: relative; /* Mantiene la imagen en el flujo del documento */
  size: 100vh;
  max-width: 100%; /* Ancho máximo de la imagen */
  opacity: 0.9; /* Efecto de superposición */
  border-radius: 10px; /* Bordes redondeados */
}

/* Animación para el slideIn de derecha a izquierda */
@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(10%); /* Inicia fuera del contenedor por la derecha */
  }
  100% {
    opacity: 1;
    transform: translateX(0); /* Termina en su posición normal */
  }
}

/* Animación para el slideIn de izquierda a derecha */
@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10%); /* Inicia fuera del contenedor por la izquierda */
  }
  100% {
    opacity: 1;
    transform: translateX(0); /* Termina en su posición normal */
  }
}

/* Sección About */
#about {
  color: #2c3e50;
  padding: 2rem 10em; /* Espaciado */
  background-color: #F7F7F7; /* Fondo blanco */
  text-align: center;
}

#about h2 {
  color: #2c3e50;
  margin-bottom: 1rem; /* Margen inferior */
}




/* Estilos generales */
.section-container {
  padding: 2rem 8em;
  color: #2c3e50;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.section-container h1 {
  font-size: 2.5em;
  color: #2c3e50;
  border-bottom: 1px solid #2c3e50;;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.section-education, .section-experience {
  padding: 2rem 8em;
  width: 100%; /* Para que las dos secciones ocupen el 50% del contenedor */
  color: #2c3e50;
}

.section-education ul, .section-experience ul {
  font-size: 1.2em;
  list-style-type: none;
  padding-left: 0;
}

.section-education li, .section-experience li {
  margin-bottom: 20px;
  line-height: 1.2;
}

.section-experience p {
  margin-top: 5px;
  font-size: 0.8em;
  color: #2c3e50;
}


.skills-section {
  width: 100%;
  padding: 2rem 10em; /* Espaciado */
  background-color: #f7f7f7; /* Fondo claro */
  text-align: center; /* Centrar texto */
}

.skills-section h1 {
  font-size: 2.5em;
  color: #2c3e50;
  border-bottom: 1px solid #2c3e50;;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap; /* Permitir que los elementos se ajusten en varias líneas */
  justify-content: center; /* Centrar los elementos */
  list-style: none;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: "Poppins", sans-serif;
}

.wrapper .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin: 10px; /* Espacio entre iconos */
  width: 80px; /* Tamaño del icono */
  height: 80px; /* Tamaño del icono */
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon img {
  width: 40px;  /* Tamaño de la imagen dentro del icono */
  height: 40px; /* Tamaño de la imagen dentro del icono */
  object-fit: contain; /* Mantiene la relación de aspecto */
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #333; /* Texto del tooltip */
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

/* Colores específicos para cada software, puedes personalizar según el software */
.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1da1f2;
  color: #fff;
  }

  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    background: #e4405f;
  }



.gallery-section {
    display: flex;
    width: 100%;
    margin: 2rem 0;
}

.gallery-item {
    position: relative;
    flex: 1;
    overflow: hidden;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(0);
    transition: filter 0.3s ease;
}

.gallery-item:hover img {
    filter: grayscale(25%);
}

.gallery-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    padding: 1rem;
    width: 100%;
}

.gallery-text h3 {
    margin: 0;
    font-size: 1.5rem;
}

.gallery-text p {
    margin: 0.5rem 0 0;
    font-size: 1rem;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    .gallery-section {
        flex-direction: column;
    }

    .gallery-item {
        margin-bottom: 10px;
    }
}


/* Sección Services */
#services {
  color: #2c3e50;
  padding: 2rem 1rem; /* Espaciado */
  background-color: #fff; /* Fondo gris claro */
}

.service-card {
  background-color: white; /* Fondo blanco */
  padding: 1.5rem; /* Espaciado */
  margin: 1rem 0; /* Margen superior e inferior */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.service-card h3 {
  margin-top: 0; /* Sin margen superior */
}


.gallery-container {
  height: 100%;
  width: 100%;
  text-align: center;
  margin: 50px auto;
}

.gallery-container h1 {
  margin-bottom: 20px;
  font-size: 2.5rem;
  color: #192413;
}

.gallery {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.gallery-item {
  position: relative;
  width: 30em;
  height: 40em;
  overflow: hidden;
  transition: transform 0.3s ease;
  background-size: cover;
  background-position: center;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center; 
  transition: transform 0.5s ease, filter 0.5s ease;
  filter: grayscale(60%);
}

.gallery-item:hover img {
  filter: grayscale(0);
  transform: scale(1.05); 
}

.gallery-item-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 100%;
  color: #192413;
  padding: 15px;
  text-align: left;
  max-width: 90%;
  transition: transform 0.3s ease;
}

.gallery-item h2 {
  font-size: 2.5rem;
  width: 100%;
  margin-bottom: 7em; 
  transition: transform 0.3s ease;
}

.gallery-item p {  
  font-size: 1.2rem;
  color: transparent;
  position: absolute;
  width: 100%;
  left: 0;  
  bottom: 0; 
  padding-left: 15px;
  margin-bottom: 15em;
  transition: transform 0.3s ease, color 0.3s ease;
}

.gallery-item:hover .gallery-item-text {
  transform: translateY(-15px);
}

.gallery-item:hover p {
  color: #192413;
  transform: translateY(2em);
}

#contact {
  width: 100%;
  background-color: #f7f7f7; /* Fondo oscuro para contrastar */
  color: #2c3e50; /* Texto claro */
  padding: 3rem 2rem; /* Espaciado generoso */
  text-align: center; /* Centrar el contenido */
  position: relative; /* Para elementos decorativos */
  overflow: hidden; /* Evita que los elementos animados sobresalgan */
}

#contact h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1em; /* Añade un poco de espaciado entre letras */
}

#contact p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.6; /* Mejora la legibilidad */
}

.contact-button {
  font-size: 1.5rem;
  background-color: #2c3e50; /* Color llamativo para el botón */
  color: #fff;
  padding: 1rem 2rem;
  border: none;
  border-radius: 50px; /* Botón redondeado */
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.contact-button:hover {
  background-color: #3d5770; /* Color más oscuro al pasar el ratón */
}


/* Animación sutil para los elementos decorativos */
@keyframes float {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(20px);
  }
}
