@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumar+One+Outline&family=Londrina+Outline&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700');

html {
  scroll-behavior: smooth;
  scroll-padding: 1em;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}


/* Laptops (1024px - 1440px) */
@media screen and (min-width: 1440px) {
    /* Navbar Styles */
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 10px;
    padding-left: 30px;
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    transition: background-color 0.8s ease, padding-top 0.5s;
    z-index: 999;
    box-sizing: border-box;
  }

  .navbar .home-navbar {
    padding-bottom: 8px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    width: fit-content;
  }

  .navbar.scrolled a:hover {
    color: #5DADE2;
  }

  .navbar a:hover {
    color: #D0D3D4;
  }

  /* Estilo para la navbar cuando se hace scroll */
  .navbar.scrolled {
    padding-top: 0px;
    background-color:#2c3e50e4;
    backdrop-filter: blur(8px);
  }

  /* Estilo para los enlaces de la navbar cuando se hace scroll */
  .navbar.scrolled a {
    color: #ECF0F1;
  }

  /* Aplica la animación de salida cuando se quita la clase `scrolled` */
  .navbar:not(.scrolled) .home-navbar {
    animation: lineCollapseOut 0.5s forwards;
  }

  .nav_items {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    transition: padding 0.3s ease; /* Transición para suavizar el cambio de padding */
  }

  
  /* Estilo cuando se ha hecho scroll y el logo está en la navbar */


  /* Estilo para los enlaces de la navbar */
  .navbar .nav_items {
    user-select: none;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 60px;
  }

  /* Estilo general para los enlaces de la navbar */
  .navbar .nav_items a {
    color: #f5f5f7;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    transition: color 0.3s;
  }

  #logo-nav {
    visibility: visible;
    position: fixed;
    top: 8px;
    left: 116px;
    height: 45px;
    scale: 1;
    z-index: 1000;
  }

  #logo-title-nav {
    visibility: visible;
    position: fixed;
    top: 13px;
    left: 175px;
    height: 35px;
    scale: 1;
    z-index: 1000;
  }

  .footer-distributed{
    background: #2c3e50;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
    padding-bottom: 15px;
  }

  .firma-personal {
    height: 125px;
    top: 0;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
  }

  /* Footer left */

  .footer-distributed .footer-left{
    width: 40%;
  }

  /* The company logo */

  .footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Open Sans', cursive;
    margin: 0;
  }

  .footer-distributed h3 span{
    color:  lightseagreen;
  }

  /* Footer links */

  .footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
    padding-bottom: 2em;
  }

  .footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    font-weight:400;
    text-decoration: none;
    color:  inherit;
  }

  .footer-distributed .footer-company-name{
    color:  #ffffff;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding-top: 5em;
  }

  /* Footer Center */

  .footer-distributed .footer-center{
    width: 35%;
  }

  .footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }

  .footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
  }

  .footer-distributed .footer-left p{
    display: inline-block;
    color: #ffffff;
    font-weight:400;
    vertical-align: middle;
    margin:0;
  }

  .footer-distributed .footer-left p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
  }

  .footer-distributed .footer-left p a{
    color:#ECF0F1;
    text-decoration: none;
    transition: color 0.5s;
  }

  #info p {
    padding-left: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  #logo-nav, #logo-title-nav {
    position: fixed;
    transition: top 0.3s ease-in-out; /* Animación suave */
  }

  .footer-distributed .footer-left p a:hover{
    color:#5DADE2;
  }

  .footer-distributed .footer-links a:before {
    content: "|";
    font-weight:300;
    font-size: 20px;
    left: 0;
    color: #ECF0F1;
    display: inline-block;
    padding-right: 5px;
  }

  .footer-distributed .footer-links .link-1:before {
    content: none;
  }

  /* Footer Right */

  .footer-distributed .footer-right{
    width: 20%;
  }

  .footer-quote {
    padding-top: 2em;
    color: #dadede;
  }

  .footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
  }

  .footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .footer-icons h2 {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .footer-distributed .footer-icons{
    margin-top: 25px;
  }

  .footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 2px;
    font-size: 30px;
    text-align: center;
    line-height: 35px;
    margin-right: 8px;
    margin-bottom: 5px;
  }

  .footer-icons i {
    color: #ECF0F1;
    transition: color 0.5s;
  }

  .footer-icons i:hover {
    color: #5dade2;
  }
  .footer-distributed{
    background: #2c3e50;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
    padding-bottom: 15px;
  }

  .firma-personal {
    height: 125px;
    top: 0;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
  }

  /* Footer left */

  .footer-distributed .footer-left{
    width: 40%;
  }

  /* The company logo */

  .footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Open Sans', cursive;
    margin: 0;
  }

  .footer-distributed h3 span{
    color:  lightseagreen;
  }

  /* Footer links */

  .footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
    padding-bottom: 2em;
  }

  .footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    font-weight:400;
    text-decoration: none;
    color:  inherit;
  }

  .footer-distributed .footer-company-name{
    color:  #ffffff;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding-top: 5em;
  }

  /* Footer Center */

  .footer-distributed .footer-center{
    width: 35%;
  }

  .footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }

  .footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
  }

  .footer-distributed .footer-left p{
    display: inline-block;
    color: #ffffff;
    font-weight:400;
    vertical-align: middle;
    margin:0;
  }

  .footer-distributed .footer-left p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
  }

  .footer-distributed .footer-left p a{
    color:#ECF0F1;
    text-decoration: none;
    transition: color 0.5s;
  }

  #info p {
    padding-left: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }



  .footer-distributed .footer-left p a:hover{
    color:#5DADE2;
  }

  .footer-distributed .footer-links a:before {
    content: "|";
    font-weight:300;
    font-size: 20px;
    left: 0;
    color: #ECF0F1;
    display: inline-block;
    padding-right: 5px;
  }

  .footer-distributed .footer-links .link-1:before {
    content: none;
  }

  /* Footer Right */

  .footer-distributed .footer-right{
    width: 20%;
  }

  .footer-quote {
    padding-top: 2em;
    color: #dadede;
  }

  .footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
  }

  .footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .footer-icons h2 {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .footer-distributed .footer-icons{
    margin-top: 25px;
  }

  .footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 2px;
    font-size: 30px;
    text-align: center;
    line-height: 35px;
    margin-right: 8px;
    margin-bottom: 5px;
  }

  .footer-icons i {
    color: #ECF0F1;
    transition: color 0.5s;
  }

  .footer-icons i:hover {
    color: #5dade2;
  }

  
}




@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}


@media screen and (max-width: 480px) {
  /* Animación de fade-in */
  .fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  }

  .fade-in.visible {
    opacity: 1;
    transform: translateY(0);
  }

  /* Navbar Ajustada */
  .navbar {
    background-color: transparent;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 10px;  /* Ajustamos el padding para que se vea mejor en pantallas pequeñas */
    display: flex;
    justify-content: space-between;
    align-items: center; /* Asegura que los elementos estén alineados verticalmente */
    position: fixed;
    box-sizing: border-box;
    z-index: 1000;
    transition: background-color 0.3s ease, padding-top 0.3s ease;
  }

  .navbar.scrolled {
    background-color: #2c3e50e4;
    padding-top: 2px;
    backdrop-filter: blur(8px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .navbar.scrolled a {
    color: #ECF0F1;
  }

  /* Navbar links y logo */
  .nav_items {
    display: flex;
    gap: 20px;  /* Reducimos el espacio entre los enlaces */
    justify-content: flex-end;
    width: 100%;
    transition: 0.3s ease all;
    padding-top: 5px;
  }

  .nav_items.scrolled {
    background-color: #2c3e50e4;
    backdrop-filter: blur(8px);
  }

  .nav_logo {
    font-weight: bold;
    font-size: 20px;  /* Ajustamos el tamaño del logo */
    color: var(--icons);
    transition: color 0.3s ease;
  }

  .nav_logo span {
    font-size: 18px; /* Ajustamos el tamaño del logo en pantallas pequeñas */
    margin: 10px 0;
    color: var(--icons);
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .nav_logo.scrolled span {
    transform: translateX(-50px); /* Desplazar hacia la izquierda */
    opacity: 0; /* Desaparecer */
  }

  /* Cambiar el tamaño y el comportamiento de los enlaces */
  .navbar .nav_items a {
    color: #f5f5f7;
    font-size: 14px; /* Ajuste de tamaño de fuente en pantallas pequeñas */
    font-weight: 400;
    transition: color 0.3s;
    padding: 5px 0;
  }

  /* Asegura que el fondo de la navbar se vea correctamente */
  .navbar.scrolled .nav_items a {
    color: #ECF0F1;
  }

  /* Asegura que los elementos estén bien alineados */
  .right-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-distributed {
    padding: 25px 10px;
    text-align: center;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
  }

  .footer-distributed .footer-left {
    text-align: center;
  }

  .footer-distributed .footer-center {
    margin-top: 15px;
  }

  .footer-distributed .footer-right {
    text-align: center;
    margin-top: 15px;
  }

  /* Footer icons */
  .footer-distributed .footer-icons {
    margin-top: 15px;
    text-align: center;
  }

  .footer-distributed .footer-icons a {
    width: 30px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    line-height: 30px;
  }

  .footer-icons i {
    color: #ECF0F1;
  }

  .footer-icons i:hover {
    color: #5dade2;
  }

  /* Ajustes de espacio para otros elementos */
  .footer-distributed .footer-company-name {
    font-size: 12px;
    margin-top: 15px;
  }
}

/* Animación de fade-in */


  
    
