* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; /* Asegúrate de que esto esté configurado */
}


body {
  font-family: 'Nonito', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

html, body {
  width: 100%;
  overflow-x: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}



.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Asegura que ocupe toda la pantalla */
}

.right-container, .left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Centra los elementos */
  text-align: center;
}

.right-container .sub {
  font-size: 1.3em;
  padding-bottom: 2em;
}

.right-container p {
  display: inline-block;
  color: #2c3e50;
  font-weight:400;
  vertical-align: middle;
  margin:0;
}

.elements-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Asegura que todo esté centrado */
  gap: 1rem; /* Espaciado uniforme */
}

#info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-align: left;
  justify-content: center;
}

#info p {
  padding-left: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

p a {
  color:#2c3e50;
  text-decoration: none;
  transition: color 0.5s;
}

p a:hover {
  color:#5DADE2;
}

.contact-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 2px;
  font-size: 30px;
  text-align: center;
  line-height: 35px;
  margin-right: 8px;
  margin-bottom: 5px;
}

.contact-icons i {
  color: #2c3e50;
  transition: color 0.5s;
}

.contact-icons i:hover {
  color: #5dade2;
}

#image-container img {
  flex: 1;
  width: 480px;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.right-container {
  flex: 2;
  padding: 2rem;
}

.left-container {
  flex: 3;
  padding: 2rem;
}

#subtitle {
  font-weight: bold;
  padding-top: 20px;
}

.form-container {
  width: 100%;
  max-width: 400px; /* Limita el ancho para que el formulario no se expanda demasiado */
  padding: 0;
}

h1 {
  font-size: 2.9rem;
  margin-bottom: 20px;
}

p {
  margin-bottom: 15px;
  line-height: 1.5;
}

#text {
  text-align: justify;
  padding: 0 90px;
}

.input-container {
  position: relative;
  width: 100%;
}

.input-container {
  margin-bottom: 1.5rem; /* Aumenta el espacio entre los inputs */
}

#text-area {
  height: 85px;
  resize: none;
}

.input-field {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  color: black;
  border-bottom: 2px solid #ccc;
  outline: none;
  background-color: transparent;
  position: relative;
}

.input-label {
  position: absolute;
  top: 50%;
  left: 10px;
  font-size: 16px;
  color: rgba(44, 62, 80, 0);
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

.input-highlight {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #007bff;
  transition: width 0.3s ease-in-out;
}

/* Animaciones */
.input-field:focus ~ .input-label {
  top: 0;
  font-size: 12px;
  color: #007bff;
  opacity: 1;
}

.input-field:focus ~ .input-highlight {
  width: 100%;
}

.btn {
  color: #2c3e50;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid #2c3e50;
  padding: 10px 20px;
  font-size: 17px;
  cursor: pointer;
  font-weight: bold;
  background: transparent;
  position: relative;
  transition: all 1s;
  overflow: hidden;
  z-index: 1;
}

.btn {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 1rem;
}

.btn:hover {
  color: #F7F7F7;
}

.btn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: -40px;
  z-index: -1;
  transform: skewX(45deg);
  background-color: #2c3e50;
  transition: all 1s;
}

.btn:hover::before {
  width: 160%;
}


@media screen and (max-width: 480px) {
  #logo-title-nav {
    display: none;
  }

  body {
    font-family: 'Nonito', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    
    background-color: #F7F7F7;
    color: #2c3e50;
    scroll-behavior: smooth;
    scroll-padding: 1em;
  }
  
  html, body {
    width: 100%;
    overflow-x: hidden; /* Oculta el scroll lateral */
  }

  .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #image-container {
    position: relative;
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    height: auto; /* La altura dependerá del contenido */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Evita que la imagen sobresalga */
}

  #image-container img {
    width: 100%; /* Ocupa todo el ancho sin importar la resolución */
    max-height: 300px; /* Limita la altura sin forzar una deformación */
    height: auto; /* Mantiene la proporción original */
    object-fit: cover; /* Evita la distorsión y ajusta la imagen */
    filter: brightness(30%); /* Ajusta la opacidad */
  }

  #image-container #titulo-image {
    position: absolute;
    top: 30%; /* Centrar verticalmente */
    left: 50%; /* Centrar horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta el centrado */
    color: white;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    z-index: 3; /* Asegura que esté por encima de la imagen */
    white-space: nowrap; /* Evita que el texto se divida */
  }
  
  #image-container #text-image {
    position: absolute;
    text-align: justify;
    top: 60%; /* Centrar verticalmente */
    left: 50%; /* Centrar horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta el centrado */
    color: white;
    font-size: 0.9em;
    font-weight: bold;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    z-index: 3;
  }

  #more-content {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    background: #F7F7F7;
    border-radius: 32px 32px 0 0;
    margin-top: -30px;
    padding: 40px 40px 0 40px;
    position: relative;
    z-index: 4;
    box-sizing: border-box; /* Evita que el padding afecte el tamaño */
    overflow: hidden; /* Evita que elementos internos sobresalgan */
}

  .right-container #titulo, .left-container #text {
    display: none;
  }

  .right-container .sub {
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
  }

  .left-container {
    padding: 0;
  }

  .right-container {
    padding: 2rem 0 0 0;
  }

  .left-container #subtitle {
    padding: 0;
    margin: 0;
    padding-bottom: 5px;
    font-size: 1.3em;
  }

  .elements-container {
    display: flex;
    flex-direction: row;
  }

  .elements-container .right-flex {
    display: flex;
    font-size: 0.9em;
    flex-direction: column;
    align-items: flex-start;
  }

  .elements-container .contact-icons h2 {
    padding: 0;
    margin: 0;
    font-size: 1em;
  }

  .contact-icons a {
    margin: 3px;
    cursor: pointer;
  }
  
  .contact-icons i {
    color: #2c3e50;
    transition: color 0.5s;
  }
  
  .contact-icons i:hover {
    color: #5dade2;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {

}

@media screen and (min-width: 768px) and (max-width: 1024px) {

}

@media (min-width: 1025px) {
  #more-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Asegura que ocupe toda la pantalla */
  }
}