@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumar+One+Outline&family=Londrina+Outline&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Nonito', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  align-items: center;
  align-content: center;
  justify-content: center;
}

/* Título de la página de detalles */
#project-detail h1 {
  position: absolute;
  padding-top: 0em;
  font-size: 2.5em;
  font-weight: 700;
  color: #333;
  text-align: center;
  margin-bottom: 1em;
}

/* Contenedor de la descripción */
.project-description {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 1em 2em;
  line-height: 1.6;
  font-size: 1.2em;
  color: #666;
}
/* Estilo para el contenedor con imagen y título superpuesto */
#demoBox.with-title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em 0;
}

#demoBox {
  position: relative;
  max-width: 100%;
  height: 100vh;
  margin: 2em 0;
}

/* Aplicar el efecto de oscurecimiento directamente a la imagen */
#demoBox img {
  width: 100%; /* La imagen tomará todo el ancho disponible */
  height: 100vh; /* Mantiene la proporción correcta sin estirarse en la altura */
  object-fit: cover; /* Ajusta la imagen al contenedor sin distorsionar */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  filter: brightness(0.5); /* Controla la cantidad de oscuridad */
}


.image-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 5em;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.image-location {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1.2em;
  font-weight: lighter;
  text-align: center;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
  gap: 20px;
}

.gallery-image {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 700px;   /* Ajustar según sea necesario */
  width: 100%;        /* Ancho completo del contenedor */
  height: 400px;      /* Ajustar la altura fija que desees */
  overflow: hidden;    /* Ocultar cualquier contenido que sobresalga */
  box-sizing: border-box; /* Asegurarte de incluir padding y borde */
}

.gallery-image img {
  width: 100%;        /* Asegurarse de que la imagen ocupe todo el ancho del contenedor */
  height: 100%;       /* Asegurarse de que la imagen ocupe toda la altura del contenedor */
  object-position: center; /* Centrar la imagen en el contenedor */
}

/* Estilos para imágenes grandes */
.gallery-image.big-image {
  width: 95%;   /* La imagen ocupará todo el ancho de su contenedor */
  height: auto;  /* Ajustar la altura automáticamente */
  max-width: 100%;
}

.gallery-image.big-image img {
  object-fit: cover;  /* Asegura que la imagen ocupe todo el espacio sin distorsionarse */
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
  .image-title {
    font-size: 2em;
  }

  #demoBox img {
    max-width: 100%;
  }
}
