@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumar+One+Outline&family=Londrina+Outline&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* * COLORS
#e6e6e6 (Conveys luxury and exclusivity) "silver"
#424245 (navbar) "Gray"
#f5f5f7 Background "Cultured White"
#0066cc Details (buttons, links, etc) "True Blue"
#f56300 (Conveys excitement and novelty) "orange"
#FABC3F
#194a6e
#192413
#ecead3

* COLORES
#FFFFFF
#F7F7F7

* TEXTOS
#333333
#666666

* NAVBAR
#2C3E50
#ECF0F1
#ECF0F1

* ENLACES, BOTONES
#3498DB

Distribución:
Navbar/Footer: #2C3E50
Sección 1 (fondo): #FFFFFF
Sección 2 (fondo): #F7F7F7
Textos: #333333 (títulos), #666666 (subtítulos)
Botones/Enlaces: #3498DB

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

/* * Smooth Scrolling */
html {
  scroll-behavior: smooth;
}



/* Estilo para el cuerpo */
body {
  font-family: 'Nonito', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  color: #192413;
}

.phrase {
  padding-bottom: 0;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Estilo para la navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 10px;
  padding-left: 20px; /* Añade espacio a la izquierda de la navbar */
  background-color: transparent;
  display: flex;
  justify-content: flex-start; /* Alinea los elementos a la izquierda */
  transition: background-color 0.8s ease, padding-top 0.5s;
  z-index: 1000;
  box-sizing: border-box;
}

.navbar .home-navbar {
  padding-bottom: 8px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  width: fit-content;
}

.navbar.scrolled a:hover {
  color: #5DADE2;
}

.navbar a:hover {
  color: #D0D3D4;
}

/* Estilo para cuando se hace scroll */
.navbar.scrolled .home-navbar {
  animation: lineCollapseIn 0.5s forwards;
}

/* Estilo para la navbar cuando se hace scroll */
.navbar.scrolled {
  padding-top: 0px;
  background-color:#2c3e50e4;
  backdrop-filter: blur(8px);
}

/* Estilo para los enlaces de la navbar cuando se hace scroll */
.navbar.scrolled a {
  color: #ECF0F1;
}

/* Animación para la línea al entrar */
@keyframes lineCollapseIn {
  0% {
    border-bottom-width: 2px;
    transform: scaleX(1);
    padding-bottom: 8px;
  }
  50% {
    transform: scaleX(0.7); /* Escala la línea para crear un efecto de encogimiento */
  }
  100% {
    transform: scaleX(0.5); /* Termina la animación con la línea más corta */
    padding-bottom: 2px;
  }
}

/* Animación para la línea al salir */
@keyframes lineCollapseOut {
  0% {
    border-bottom-width: 2px;
    transform: scaleX(0.5); /* Línea más corta cuando empieza a salir */
    padding-bottom: 2px;
  }
  50% {
    transform: scaleX(0.7); /* Escala la línea para crear un efecto de encogimiento */
  }
  100% {
    border-bottom-width: 2px;
    transform: scaleX(1); /* Línea completa cuando termina la animación de salida */
    padding-bottom: 8px;
  }
}

/* Aplica la animación de salida cuando se quita la clase `scrolled` */
.navbar:not(.scrolled) .home-navbar {
  animation: lineCollapseOut 0.5s forwards;
}

.navbar-content {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
  transition: padding 0.3s ease; /* Transición para suavizar el cambio de padding */
}

/* Estilo cuando se ha hecho scroll y el logo está en la navbar */
.navbar.scrolled .navbar-content {
  padding: 0px; /* Reduce el padding cuando se hace scroll */
  padding-left: 0px; /* Elimina el padding en la izquierda */
}

/* Estilo para los enlaces de la navbar */
.navbar nav ul {
  user-select: none;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 60px;
}

/* Estilo general para los enlaces de la navbar */
.navbar nav ul li a {
  color: #f5f5f7;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  transition: color 0.3s;
}

/* Logo en el cuerpo */
#logo {
  user-select: none;
  position: absolute;
  top: 110px;
  left: 50%;
  height: 250px;
  transform: translateX(-50%);
  opacity: 0;
  transform: translateY(-50px);
  animation: slideIn 2s forwards ease-in-out;
  transition: all 1s ease;
}

/* Animación para el logo */
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translate(-50%, -50px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

/* Animación corregida para el logo-title */
@keyframes slideInTitle {
  0% {
    opacity: 0;
    transform: translate(-50%, 50px); /* Cambia a -50% en X */
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0); /* También -50% en X aquí */
  }
}


/* Título del logo centrado */
#logo-title {
  user-select: none;
  position: absolute;
  top: 380px;
  left: 50%;
  height: 85px;
  transform: translateX(-50%);
  opacity: 0;
  transform: translateY(-50px); 
  animation: slideInTitle 2s forwards ease-in-out;
  transition: all 1.5s ease;
}


.subtitle {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 2em;
  color: #192413;
}

#titles{
  color: #192413; 
  font-size: 2.5em;
}

/* Estilo para la imagen de fondo */
#demoBox {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), 
  url("images/renders/01.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: filter 0.5s ease; /* Transición suave para el filtro */
}

/* Contenido principal */
.content {
  max-width: 100%;
  line-height: 1.4;
}

section {
  display: grid;
  place-items: center;
  background-color: #F7F7F7;
  color: #192413;
  padding: 5em;
}

p {
  padding: 1em 8em 1em 8em;
  font-size: 1.5em;
}

.cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}


/* SLIDESHOW
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Slider */


footer {
  background-color: #2C3E50;
  text-align: center;
  width: 100%;
  padding: 0;
  color: #ecf0f1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-left, .footer-center, .footer-right {
  flex: 1; /* Permite que cada columna ocupe un espacio igual */
  display: flex;
  justify-content: center; /* Centra los elementos dentro de cada columna horizontalmente */
  align-items: center;
}

.footer-left {
  justify-content: flex-start; /* Alinea el contenido a la izquierda dentro de esta columna */
}

.footer-center {
  display: flex;
  flex-direction: column; /* Apila verticalmente el contenido */
  align-items: center; /* Centra el contenido horizontalmente dentro de la columna */
}

.footer-right {
  justify-content: flex-end; /* Alinea el contenido a la derecha dentro de esta columna */
}

.footer a {
  font-weight: 500;
  color: #FABC3F;
  text-decoration: none;
  transition: 0.5s;
}

.footer a:hover {
  color: #ecf0f1;
}

.footer .logo-personal {
  height: 55px;
  cursor: pointer;
}

.footer .foot-cont {
  margin: 0;
}


/*
.gallery-container {
height: 100%;
width: 100%;
text-align: center;
margin: 50px auto;
}

.gallery-container h1 {
margin-bottom: 20px;
font-size: 2.5rem;
color: #192413;
}

.gallery {
width: 100%;
display: flex;
justify-content: center;
gap: 20px;
flex-wrap: wrap;
}

.gallery-item {
position: relative;
width: 45em;
height: 35em;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
overflow: hidden;
transition: transform 0.3s ease;
}

.gallery-item img {
width: 100%;
height: 100%;
transition: transform 0.5s ease, filter 0.5s ease;
filter: grayscale(60%);
}

.gallery-item:hover img {
filter: grayscale(0);
transform: scale(1.05);
}

.gallery-item-text {
position: absolute;
bottom: 20px;
left: 20px;
width: 100%;
color: #192413;
padding: 15px;
text-align: left;
max-width: 90%;
transition: transform 0.3s ease;
}

.gallery-item h2 {
font-size: 2.5rem;
width: 100%;
margin-bottom: 7em;
transition: transform 0.3s ease;
}

.gallery-item p {  
  font-size: 1.2rem;
  color: transparent;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding-left: 15px;
  margin-bottom: 15em;
  transition: transform 0.3s ease, color 0.3s ease;
}

.gallery-item:hover .gallery-item-text {
transform: translateY(-15px);
}

.gallery-item:hover p {
color: #192413;
transform: translateY(2em);

}
*/




.gallery-container {
  height: 100%;
  width: 100%;
  text-align: center;
  margin: 50px auto;
}

.gallery-container h1 {
  margin-bottom: 20px;
  font-size: 2.5rem;
  color: #192413;
}

.gallery {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.gallery-item {
  position: relative;
  width: 30em;
  height: 40em;
  overflow: hidden;
  transition: transform 0.3s ease;
  background-size: cover;
  background-position: center;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center; 
  transition: transform 0.5s ease, filter 0.5s ease;
  filter: grayscale(60%);
}

.gallery-item:hover img {
  filter: grayscale(0);
  transform: scale(1.05); 
}

.gallery-item-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 100%;
  color: #192413;
  padding: 15px;
  text-align: left;
  max-width: 90%;
  transition: transform 0.3s ease;
}

.gallery-item h2 {
  font-size: 2.5rem;
  width: 100%;
  margin-bottom: 7em; 
  transition: transform 0.3s ease;
}

.gallery-item p {  
  font-size: 1.2rem;
  color: transparent;
  position: absolute;
  width: 100%;
  left: 0;  
  bottom: 0; 
  padding-left: 15px;
  margin-bottom: 15em;
  transition: transform 0.3s ease, color 0.3s ease;
}

.gallery-item:hover .gallery-item-text {
  transform: translateY(-15px);
}

.gallery-item:hover p {
  color: #192413;
  transform: translateY(2em);
}



.album .responsive-container-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

.album .img-cont {
  display: flex;
  flex-direction: column;
  flex-basis: 33.3%;
  margin: 0;
}

.album .img {
  width: 100%;
  object-fit: cover; /* Ajusta la imagen sin perder proporción */
  margin-bottom: 20px;
}

/* Imágenes más grandes en el centro */
.album .img-big {
  height: 360px; /* Puedes ajustar esta altura a lo que necesites */
}

@media (max-width: 768px) {
  .album .img-cont {
    flex-basis: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .album .img-big {
    height: 200px; /* Ajusta la altura en pantallas más pequeñas */
  }
}

@media (max-width: 500px) {
  .album .img {
    width: 94%;
  }

  .album .img-big {
    height: 150px; /* Ajusta para pantallas móviles */
  }
}
