<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon/favicon.ico') }}">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
    {% endblock %}
    <link rel="stylesheet" href="/static/styles/base-styles.css" />
    <link rel="stylesheet" href="https://cdn.lineicons.com/4.0/lineicons.css">
    <style>
      .hamburger {
        z-index: 1001; /* Ensure the hamburger menu is always on top */
      }
    </style>
</head>
<body>
  {% block navbar %}
  <a href="/inicio">
    <img id="logo-nav" src="{{ url_for('static', filename='images/Logo BLANCO.webp') }}" alt="Logotipo" />
  </a>
  <a href="/inicio">
    <img id="logo-title-nav" src="{{ url_for('static', filename='images/Logo (text).webp') }}" alt="Logotipo"/>
  </a>
  
    <nav class="navbar">
        <div class="nav_items" id="_items">
          <ul>
            <li>
              <a id="inicio" href="/inicio">INICIO</a>
            </li>
            <li>
              <a id="proyectos" href="/proyectos">PROYECTOS</a>
            </li>
            <li>
              <a id="contacto" href="/contacto">CONTACTO</a>
            </li>
          </ul>
        </div>
        <div class="hamburger" id="hamburger">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
        </div>
        
      </nav>
      <div class="menubar">
        <ul>
          <li>
            <a id="inicio" href="/inicio">INICIO</a>
          </li>
          <li>
            <a id="proyectos" href="/proyectos">PROYECTOS</a>
          </li>
          <li>
            <a id="contacto" href="/contacto">CONTACTO</a>
          </li>
        </ul>
      </div>
      <a href="#demoBox" class="btn-top">
        <svg width="32" height="32" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg" transform="rotate(0 0 0)">
          <path d="M19.1085 14.9053C18.8156 15.1982 18.3407 15.1982 18.0478 14.9053L12.3281 9.18566L6.60845 14.9053C6.31556 15.1982 5.84069 15.1982 5.5478 14.9053C5.2549 14.6124 5.2549 14.1376 5.5478 13.8447L11.7978 7.59467C12.0907 7.30178 12.5656 7.30178 12.8585 7.59467L19.1085 13.8447C19.4013 14.1376 19.4013 14.6124 19.1085 14.9053Z"/>
          </svg>
      </a>
    {% endblock %}
    
    {% block body %}
    {% endblock %}

    {% block footer %}
    
    <footer class="footer-distributed">
        <div class="footer-left">
          <div id="info">
            <i class="fa-solid fa-location-dot" style="color: #ECF0F1"></i>
            <p>Hermosillo, Sonora, Mx</p>
          </div>
          <div id="info">
            <i class="fa-solid fa-phone" style="color: #ECF0F1"></i>
            <p>+52 66-24-20-38-27</p>
          </div>
          <div id="info">
            <i class="fa-solid fa-envelope" style="color: #ECF0F1"></i>
            <p>
              <a href="mailto:hectorgastelum.99@gmail.com" target="_blank"
                >hectorgastelum.99@gmail.com</a
              >
            </p>

            <div class="footer-icons">
              <h2>Sigueme en:</h2>
              <a href="#" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            </div>
          </div>
          
        </div>

        <div class="footer-center">
        </div>

        <div class="footer-right">
          <div class="footer-icons">
            <img src="{{ url_for('static', filename='images/FINE 2.png') }}" alt="Logotipo" class="firma-personal" />
          </div>
          <p class="footer-company-name">
            Heluja Arquitectura © 2025
          </p>
        </div>
        <!-- Nueva fila para el texto -->
        <div class="footer-bottom">
          <p class="footer-company-name">
            Heluja Arquitectura © 2025
          </p>
        </div>
      </footer>
      {% endblock %}
    <script src="/static/build/navbar.js"></script>
    <script src="/static/build/toTop.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Obtiene los parámetros de la URL
            const params = new URLSearchParams(window.location.search);
            const section = params.get('section'); // Obtiene el parámetro 'section'
        
            if (section) {
                const targetSection = document.getElementById(section);
                if (targetSection) {
                    // Desplazarse a la sección correspondiente
                    targetSection.scrollIntoView({ behavior: 'smooth' });
                }
            }
        });

        function scrollToSection(sectionId) {
            const targetSection = document.getElementById(sectionId);
            if (targetSection) {
                targetSection.scrollIntoView({ behavior: 'smooth' });
            }
        }
    </script>
</body>
</html>
