{% extends "base.html" %}
{% block title %}HELUJAArq{% endblock %}
{% block head %}
<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block body %}

<img id="logo" src="{{ url_for('static', filename='images/Logo BLANCO.png') }}" alt="Logotipo" />
<img id="logo-title" src="{{ url_for('static', filename='images/Logo (text).png') }}" alt="Logotipo" />


<div id="demoBox"></div>
  <!-- Contenido aquí -->
  <section id="inicio" class="mainInfo">
    <h1 style="padding-top: 1em; padding-bottom: 1em;"> <span id="titles">HELUJA </span> <span class="subtitle">ARQUITECTURA</span> </h1>
    <p>
      Mi nombre es HECTOR R. MONTAÑO GASTELUM, soy un joven arquitecto con experiencia en la coordinación y desarrollo de proyectos arquitectónicos, desde viviendas unifamiliares hasta inmuebles industriales. Me apasiona materializar ideas arquitectónicas y busco constantemente aprender nuevas habilidades que me permitan ofrecer mejores resultados a la sociedad. Me considero curioso, creativo y comprometido, dispuesto a enfrentar nuevos retos.
      Mi enfoque profesional se basa en la filosofía "Yes is More" (Bjarke Ingels), donde veo las limitantes de cada proyecto como oportunidades para crear espacios distintivos y beneficiosos tanto para los usuarios como para el entorno.
    </p>
  </section>

  <section class="gallery-container">
      <h1 id="titulo">PROYECTOS MAS RECIENTES</h1>
      <div class="gallery">
        {% for project_id, project in projects.items() %}
          <div class="gallery-item">
            <a href="{{ url_for('project_detail', project_id=project_id) }}">
              <!-- Usamos la ruta correcta para mostrar las imágenes del proyecto -->
              <img src="{{ url_for('static', filename=project.main_image) }}" alt="{{ project.title }}">
              <div class="gallery-item-text">
                <h2>{{ project.title }}</h2>
                <p>Detalles del proyecto</p>
              </div>
            </a>
          </div>
          <div class="gallery-item">
            <a href="{{ url_for('project_detail', project_id=project_id) }}">
              <!-- Usamos la ruta correcta para mostrar las imágenes del proyecto -->
              <img src="{{ url_for('static', filename=project.main_image) }}" alt="{{ project.title }}">
              <div class="gallery-item-text">
                <h2>{{ project.title }}</h2>
                <p>Detalles del proyecto</p>
              </div>
            </a>
          </div>
          <div class="gallery-item">
            <a href="{{ url_for('project_detail', project_id=project_id) }}">
              <!-- Usamos la ruta correcta para mostrar las imágenes del proyecto -->
              <img src="{{ url_for('static', filename=project.main_image) }}" alt="{{ project.title }}">
              <div class="gallery-item-text">
                <h2>{{ project.title }}</h2>
                <p>Detalles del proyecto</p>
              </div>
            </a>
          </div>
          
        {% endfor %}
      </div>
  </section>

  <section id="proyectos">
    <h1 id="titulo">PROYECTOS</h1>
    <div class="album">
      {% for project_id, project in projects.items() %}
        <div class="responsive-container-block">
          <img class="img" src="{{ url_for('static', filename=project.main_image) }}">
          <img class="img" src="{{ url_for('static', filename=project.main_image) }}">
        </div>
        <div class="responsive-container-block">
          <img class="img" src="{{ url_for('static', filename=project.main_image) }}">
          <img class="img" src="{{ url_for('static', filename=project.main_image) }}">
        </div>
        <div class="responsive-container-block">
          <img class="img" src="{{ url_for('static', filename=project.main_image) }}">
          <img class="img" src="{{ url_for('static', filename=project.main_image) }}">
        </div>
        <div class="responsive-container-block">
          <img class="img" src="{{ url_for('static', filename=project.main_image) }}">
          <img class="img" src="{{ url_for('static', filename=project.main_image) }}">
        </div>
        
      {% endfor %}
    </div>
</section>





  <section id="about">
    <div class="gallery-container">
      <h1 id="titulo">MIS SERVICIOS</h1>
      <div class="gallery">
        <div class="gallery-item">
          <img src="static/images/renders/Ejecucion.jpg" alt="">
            <div class="gallery-item-text">
              <h2>EJECUCION DE OBRA</h2>
              <p>Detalles del servicio</p>
            </div>
        </div>
        <div class="gallery-item">
          <img src="static/images/renders/ejecutivo.jpg" alt="">
          <div class="gallery-item-text">
            <h2>PROYECTO EJECUTIVO</h2>
            <p>Detalles del servicio</p>
          </div>
        </div>
        <div class="gallery-item">
          <img src="static/images/renders/antiproyecto.jpg" alt="">
          <div class="gallery-item-text">
            <h2>ANTEPROYECTO</h2>
            <p>Detalles del servicio</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="skills" class="skills-section">
    <h1 id="titulo">HABILIDADES DE SOFTWARE</h1>
    <div class="wrapper">
      <div class="icon">
        <img src="static/images/icons/software/ac.png" alt="Software 1" class="skill-logo">
        <span class="tooltip">AutoCAD</span>
      </div>
      <div class="icon">
        <img src="static/images/icons/software/Ai.png" alt="Adobe Ilustrator" class="skill-logo">
        <span class="tooltip">Adobe Illustrator</span>
      </div>
      <div class="icon">
        <img src="static/images/icons/software/Lumion.png" alt="Software 3" class="skill-logo">
        <span class="tooltip">Lumion</span>
      </div>
      <div class="icon">
        <img src="static/images/icons/software/image (6).png" alt="Software 4" class="skill-logo">
        <span class="tooltip">Rhinoceros</span>
      </div>
      <div class="icon">
          <img src="static/images/icons/software/ps.png" alt="Software 5" class="skill-logo">
          <span class="tooltip">Adobe Photoshop</span>
      </div>
      <div class="icon">
        <img src="static/images/icons/software/MC.png" alt="Software 6" class="skill-logo">
        <span class="tooltip">Microsoft Office</span>
      </div>
      <div class="icon">
        <img src="static/images/icons/software/Revit.png" alt="Software 7" class="skill-logo">
        <span class="tooltip">Revit</span>
      </div>
      <div class="icon">
        <img src="static/images/icons/software/SK.png" alt="Software 8" class="skill-logo">
        <span class="tooltip">Sketchup</span>
      </div>
      <div class="icon">
        <img src="static/images/icons/software/TW.png" alt="Software 9" class="skill-logo">
        <span class="tooltip">Twinmotion</span>
      </div>
    </div>
  </section>
{% endblock %}