{% extends "base.html" %}
{% block title %}{{ project.title }}{% endblock %}
{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
<link rel="stylesheet" href="/static/styles/details-style.css">
<link rel="stylesheet" href="/static/styles/base-styles.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"/>
<link rel="stylesheet" href="https://cdn.lineicons.com/4.0/lineicons.css">
{% endblock %}

{% block body %}
<!-- Contenedor de la imagen principal con el título superpuesto -->
<div id="demoBox" class="with-title">
  <a href="/proyectos" class="btn-back">
    <i class="lni lni-arrow-left"></i>
  </a>

  <h1 class="image-title">{{ project.title }}</h1>
  <h3 class="image-location"> <i class="fa-solid fa-location-dot" style="color: #ECF0F1"></i> {{ project.location_text }}</h3>
  <img src="{{ url_for('static', filename=project.main_image) }}" alt="{{ project.title }}" loading="lazy">>
  <a href="#project-detail" class="contenedor-flecha">
    <svg width="80" height="80" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg" transform="rotate(0 0 0)">
      <path d="M11.7547 20.9888C11.8923 21.1495 12.0966 21.2514 12.3247 21.2514L12.3264 21.2514C12.5188 21.2518 12.7113 21.1786 12.8581 21.0319L18.8583 15.0359C19.1513 14.7431 19.1514 14.2682 18.8586 13.9752C18.5659 13.6822 18.091 13.6821 17.798 13.9749L13.0747 18.6948L13.0747 4.5C13.0747 4.08579 12.7389 3.75 12.3247 3.75C11.9105 3.75 11.5747 4.08579 11.5747 4.5L11.5747 18.6883L6.85829 13.9749C6.5653 13.6821 6.09043 13.6822 5.79763 13.9752C5.50483 14.2682 5.50498 14.7431 5.79796 15.0359L11.7547 20.9888Z" fill="#f4f4f4"/>
      </svg>  
  </a>
</div>

<!-- Sección de detalles del proyecto -->
<section id="project-detail" class="fade-in-up">

  <!-- Descripción del proyecto -->
  <div class="project-description">
    <p>{{ project.detail_text | safe  }}</p>
  </div>

  <!-- Galería de imágenes adicionales -->
  {% if project.additional_images %}
  <div class="gallery">
    {% for image in project.additional_images %}
    <div class="gallery-image {% if image.is_big %}big-image{% endif %}">
      <img src="{{ url_for('static', filename=image.url) }}" alt="{{ project.title }}" loading="lazy">>
    </div>
    {% endfor %}
  </div>
  {% endif %}
</section>
  

<script src="/static/build/navbar.js"></script>
<script src="/static/build/toTop.js"></script>
{% endblock %}