{% extends "base.html" %}
{% block title %}{{ project.title }}{% endblock %}

{% block head %}
<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='details-style.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"/>
{% endblock %}

{% block body %}

<!-- Contenedor de la imagen principal con el título superpuesto -->
<div id="demoBox" class="with-title">
  <h3 class="float-btn">Regresar</h3>
  <h1 class="image-title">{{ project.title }}</h1>
  <h3 class="image-location"> <i class="fa-solid fa-location-dot" style="color: #ECF0F1"></i> {{ project.location_text }}</h3>
  <img src="{{ url_for('static', filename=project.main_image) }}" alt="{{ project.title }}">
</div>

<!-- Sección de detalles del proyecto -->
<section id="project-detail" class="fade-in-up">

  <!-- Descripción del proyecto -->
  <div class="project-description">
    <p>{{ project.detail_text }}</p>
  </div>

  <!-- Galería de imágenes adicionales -->
  {% if project.additional_images %}
  <div class="gallery">
    {% for image in project.additional_images %}
    <div class="gallery-image {% if image.is_big %}big-image{% endif %}">
      <img src="{{ url_for('static', filename=image.url) }}" alt="{{ project.title }}">
    </div>
    {% endfor %}
  </div>
  {% endif %}
</section>

{% endblock %}
