{% extends "base.html" %}
{% block title %}HELUJAArq{% endblock %}
{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon/favicon.ico') }}">
<link rel="stylesheet" href="/static/styles/project-style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"/>
{% endblock %}

{% block body %}
<section id="proyectos" class="fade-in-up">
  <h1 id="titulo">Proyectos</h1>
  
  <div class="album">
    {% for project_id, project in projects.items() %}
      <div class="project-card">
        <a href="{{ url_for('project_detail', project_id=project_id) }}">
          <div class="image-wrapper">
            <img class="project-img" src="{{ url_for('static', filename=project.main_image) }}" alt="{{ project.title }}" loading="lazy">>
          </div>
          <div class="overlay">
            <h2 class="project-title">{{ project.title }}</h2>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</section>

<script src="/static/build/navbar.js"></script>

{% endblock %}