@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumar+One+Outline&family=Londrina+Outline&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Nonito', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  align-items: center;
  align-content: center;
  justify-content: center;
}

/* Título de la página de detalles */
#project-detail h1 {
  position: absolute;
  padding-top: 0em;
  font-size: 2.5em;
  font-weight: 700;
  color: #333;
  text-align: center;
  margin-bottom: 1em;
}

.contenedor-flecha {
  position: absolute;
  top: 90%;
  left: 50%;
  width: 40px;
  height: 40px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  overflow: hidden;
  background-color: transparent;
  display: flex; /* Añadir flexbox */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  text-decoration: none; /* Elimina el subrayado del enlace */
  transition: background-color 0.5s ease-in-out;
}

.contenedor-flecha > i {
  font-size: 30px; /* Ajustar el tamaño del icono */
  color: #f4f4f4;
}

.contenedor-flecha > i:hover {
  color: #333;
}

.btn-back {
  position: fixed;
  top: 15%;
  left: 5%;
  width: 45px;
  height: 45px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  overflow: hidden;
  background-color: #43617fb9;
  box-shadow: 0px 0px 6px  0px rgba(0, 0, 0, 0.5);
  display: flex; /* Añadir flexbox */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  text-decoration: none; /* Elimina el subrayado del enlace */
  transition: background-color 0.5s ease-in-out;
  z-index: 999;
}

.btn-back > i {
  font-size: 25px; /* Ajustar el tamaño del icono */
  color: #FFFFFF; /* Cambiar el color del icono */
}

.btn-back:hover {
  background-color: #5DADE2; /* Cambiar el color del icono */
}

/* Contenedor de la descripción */
.project-description {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 4em 2em 2em 2em;
  line-height: 1.6;
  font-size: 1.2em;
  color: #666;
}

.project-description p {
  text-align: justify;
}
/* Estilo para el contenedor con imagen y título superpuesto */
#demoBox.with-title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#demoBox {
  position: relative;
  max-width: 100%;
  height: 100vh;
  margin: 2em 0;
}

/* Aplicar el efecto de oscurecimiento directamente a la imagen */
#demoBox img {
  width: 100%; /* La imagen tomará todo el ancho disponible */
  height: 100vh; /* Mantiene la proporción correcta sin estirarse en la altura */
  object-fit: cover; /* Ajusta la imagen al contenedor sin distorsionar */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  filter: brightness(0.5); /* Controla la cantidad de oscuridad */
}

.btn-flotante {
  text-decoration: none;
	font-size: 12px; /* Cambiar el tamaño de la tipografia */
	text-transform: uppercase; /* Texto en mayusculas */
	font-weight: bold; /* Fuente en negrita o bold */
	color: #ffffff; /* Color del texto */
	border-radius: 5px; /* Borde del boton */
	letter-spacing: 2px; /* Espacio entre letras */
	background-color: #43617f; /* Color de fondo */
	padding: 12px 20px; /* Relleno del boton */
	position: fixed;
	top: 80px;
	left: 40px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;
}



.btn-flotante:hover {
	background-color: #5DADE2; /* Color de fondo al pasar el cursor */
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
}
.image-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 5em;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.image-location {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1.2em;
  font-weight: lighter;
  text-align: center;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;  
  margin-top: 1em;
  margin-bottom: 1em;
  gap: 20px;
}

.gallery-image {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Ajustar según sea necesario */
  width: 100%;        /* Ancho completo del contenedor */
  height: 400px;      /* Ajustar la altura fija que desees */
  overflow: hidden;    /* Ocultar cualquier contenido que sobresalga */
  box-sizing: border-box; /* Asegurarte de incluir padding y borde */
}

.gallery-image img {
  width: 100%;        /* Asegurarse de que la imagen ocupe todo el ancho del contenedor */
  height: 100%;       /* Asegurarse de que la imagen ocupe toda la altura del contenedor */
  object-position: center; /* Centrar la imagen en el contenedor */
}

/* Estilos para imágenes grandes */
.gallery-image.big-image {
  width: 95%;   /* La imagen ocupará todo el ancho de su contenedor */
  height: auto;  /* Ajustar la altura automáticamente */
  max-width: 100%;
}

.gallery-image.big-image img {
  object-fit: cover;  /* Asegura que la imagen ocupe todo el espacio sin distorsionarse */
}

/* * MEDIAQUERIES  */

@media screen and (min-width: 320px) and (max-width: 361px) {
  /* Contenedor de la descripción */

  .btn-back {
    position: fixed;
    top: 12%;
    left: 12%;
    width: 35px;
    height: 35px;
  }
  
  .btn-back > i {
    font-size: 20px; /* Ajustar el tamaño del icono */
  }

  .project-description {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 4em 2em 2em 2em;
    line-height: 1.6;
    font-size: 1em;
    color: #666;
  }

  .project-description p {
    text-align: justify;
  }
  /* Estilo para el contenedor con imagen y título superpuesto */
  #demoBox.with-title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  #demoBox {
    position: relative;
    max-width: 100%;
    height: 100vh;
    margin: 2em 0;
  }

  /* Aplicar el efecto de oscurecimiento directamente a la imagen */
  #demoBox img {
    width: 100%; /* La imagen tomará todo el ancho disponible */
    height: 100vh; /* Mantiene la proporción correcta sin estirarse en la altura */
    object-fit: cover; /* Ajusta la imagen al contenedor sin distorsionar */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    filter: brightness(0.5); /* Controla la cantidad de oscuridad */
  }

  .image-title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 3.1em;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    z-index: 10;
  }

  .image-location {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.2em;
    font-weight: lighter;
    text-align: center;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    z-index: 10;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .gallery-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 21.5em;        /* Ancho completo del contenedor */
    height: 18em;      /* Ajustar la altura fija que desees */
    overflow: hidden;    /* Ocultar cualquier contenido que sobresalga */
    box-sizing: border-box; /* Asegurarte de incluir padding y borde */
  }

  .gallery-image img {
    width: 100%;        /* Asegurarse de que la imagen ocupe todo el ancho del contenedor */
    height: 100%;       /* Asegurarse de que la imagen ocupe toda la altura del contenedor */
    object-position: center; /* Centrar la imagen en el contenedor */
    object-fit: cover;
  }

  /* Estilos para imágenes grandes */
  .gallery-image.big-image {
    width: 95%;   /* La imagen ocupará todo el ancho de su contenedor */
    height: auto;  /* Ajustar la altura automáticamente */
    max-width: 100%;
  }

  .gallery-image.big-image img {
    object-fit: cover;  /* Asegura que la imagen ocupe todo el espacio sin distorsionarse */
  }
}

@media screen and (min-width: 362px) and (max-width: 370px) {
  /* Contenedor de la descripción */

  .btn-back {
    position: fixed;
    top: 12%;
    left: 12%;
    width: 35px;
    height: 35px;
  }
  
  .btn-back > i {
    font-size: 20px; /* Ajustar el tamaño del icono */
  }

  .project-description {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 4em 2em 2em 2em;
    line-height: 1.6;
    font-size: 1em;
    color: #666;
  }

  .project-description p {
    text-align: justify;
  }
  /* Estilo para el contenedor con imagen y título superpuesto */
  #demoBox.with-title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  #demoBox {
    position: relative;
    max-width: 100%;
    height: 100vh;
    margin: 2em 0;
  }

  /* Aplicar el efecto de oscurecimiento directamente a la imagen */
  #demoBox img {
    width: 100%; /* La imagen tomará todo el ancho disponible */
    height: 100vh; /* Mantiene la proporción correcta sin estirarse en la altura */
    object-fit: cover; /* Ajusta la imagen al contenedor sin distorsionar */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    filter: brightness(0.5); /* Controla la cantidad de oscuridad */
  }

  .image-title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 3.5em;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    z-index: 10;
  }

  .image-location {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.2em;
    font-weight: lighter;
    text-align: center;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    z-index: 10;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .gallery-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22em;        /* Ancho completo del contenedor */
    height: 18em;      /* Ajustar la altura fija que desees */
    overflow: hidden;    /* Ocultar cualquier contenido que sobresalga */
    box-sizing: border-box; /* Asegurarte de incluir padding y borde */
  }

  .gallery-image img {
    width: 100%;        /* Asegurarse de que la imagen ocupe todo el ancho del contenedor */
    height: 100%;       /* Asegurarse de que la imagen ocupe toda la altura del contenedor */
    object-position: center; /* Centrar la imagen en el contenedor */
    object-fit: cover;
  }

  /* Estilos para imágenes grandes */
  .gallery-image.big-image {
    width: 95%;   /* La imagen ocupará todo el ancho de su contenedor */
    height: auto;  /* Ajustar la altura automáticamente */
    max-width: 100%;
  }

  .gallery-image.big-image img {
    object-fit: cover;  /* Asegura que la imagen ocupe todo el espacio sin distorsionarse */
  }
}

@media screen and (min-width: 371px) and (max-width: 380px) {
  /* Contenedor de la descripción */

  .btn-back {
    position: fixed;
    top: 12%;
    left: 12%;
    width: 35px;
    height: 35px;
  }
  
  .btn-back > i {
    font-size: 20px; /* Ajustar el tamaño del icono */
  }

  .project-description {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 4em 2em 2em 2em;
    line-height: 1.6;
    font-size: 1em;
    color: #666;
  }

  .project-description p {
    text-align: justify;
  }
  /* Estilo para el contenedor con imagen y título superpuesto */
  #demoBox.with-title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  #demoBox {
    position: relative;
    max-width: 100%;
    height: 100vh;
    margin: 2em 0;
  }

  /* Aplicar el efecto de oscurecimiento directamente a la imagen */
  #demoBox img {
    width: 100%; /* La imagen tomará todo el ancho disponible */
    height: 100vh; /* Mantiene la proporción correcta sin estirarse en la altura */
    object-fit: cover; /* Ajusta la imagen al contenedor sin distorsionar */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    filter: brightness(0.5); /* Controla la cantidad de oscuridad */
  }

  .image-title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 3.5em;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    z-index: 10;
  }

  .image-location {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.2em;
    font-weight: lighter;
    text-align: center;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    z-index: 10;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .gallery-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22em;        /* Ancho completo del contenedor */
    height: 18em;      /* Ajustar la altura fija que desees */
    overflow: hidden;    /* Ocultar cualquier contenido que sobresalga */
    box-sizing: border-box; /* Asegurarte de incluir padding y borde */
  }

  .gallery-image img {
    width: 100%;        /* Asegurarse de que la imagen ocupe todo el ancho del contenedor */
    height: 100%;       /* Asegurarse de que la imagen ocupe toda la altura del contenedor */
    object-position: center; /* Centrar la imagen en el contenedor */
    object-fit: cover;
  }

  /* Estilos para imágenes grandes */
  .gallery-image.big-image {
    width: 95%;   /* La imagen ocupará todo el ancho de su contenedor */
    height: auto;  /* Ajustar la altura automáticamente */
    max-width: 100%;
  }

  .gallery-image.big-image img {
    object-fit: cover;  /* Asegura que la imagen ocupe todo el espacio sin distorsionarse */
  }
}

@media screen and (min-width: 381px) and (max-width: 391px) {
  /* Contenedor de la descripción */

  .btn-back {
    position: fixed;
    top: 12%;
    left: 12%;
    width: 35px;
    height: 35px;
  }
  
  .btn-back > i {
    font-size: 20px; /* Ajustar el tamaño del icono */
  }

  .project-description {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 4em 2em 2em 2em;
    line-height: 1.6;
    font-size: 1em;
    color: #666;
  }

  .project-description p {
    text-align: justify;
  }
  /* Estilo para el contenedor con imagen y título superpuesto */
  #demoBox.with-title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  #demoBox {
    position: relative;
    max-width: 100%;
    height: 100vh;
    margin: 2em 0;
  }

  /* Aplicar el efecto de oscurecimiento directamente a la imagen */
  #demoBox img {
    width: 100%; /* La imagen tomará todo el ancho disponible */
    height: 100vh; /* Mantiene la proporción correcta sin estirarse en la altura */
    object-fit: cover; /* Ajusta la imagen al contenedor sin distorsionar */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    filter: brightness(0.5); /* Controla la cantidad de oscuridad */
  }

  .image-title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 3.5em;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    z-index: 10;
  }

  .image-location {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.2em;
    font-weight: lighter;
    text-align: center;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    z-index: 10;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .gallery-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22em;        /* Ancho completo del contenedor */
    height: 18em;      /* Ajustar la altura fija que desees */
    overflow: hidden;    /* Ocultar cualquier contenido que sobresalga */
    box-sizing: border-box; /* Asegurarte de incluir padding y borde */
  }

  .gallery-image img {
    width: 100%;        /* Asegurarse de que la imagen ocupe todo el ancho del contenedor */
    height: 100%;       /* Asegurarse de que la imagen ocupe toda la altura del contenedor */
    object-position: center; /* Centrar la imagen en el contenedor */
    object-fit: cover;
  }

  /* Estilos para imágenes grandes */
  .gallery-image.big-image {
    width: 95%;   /* La imagen ocupará todo el ancho de su contenedor */
    height: auto;  /* Ajustar la altura automáticamente */
    max-width: 100%;
  }

  .gallery-image.big-image img {
    object-fit: cover;  /* Asegura que la imagen ocupe todo el espacio sin distorsionarse */
  }
}

@media screen and (min-width: 392px) and (max-width: 480px) {
  .btn-back {
    position: fixed;
    top: 12%;
    left: 12%;
    width: 35px;
    height: 35px;
  }
  
  .btn-back > i {
    font-size: 20px; /* Ajustar el tamaño del icono */
  }

  /* Contenedor de la descripción */
  .project-description {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 4em 2em 2em 2em;
    line-height: 1.6;
    font-size: 1em;
    color: #666;
  }

  .project-description p {
    text-align: justify;
  }
  /* Estilo para el contenedor con imagen y título superpuesto */
  #demoBox.with-title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  #demoBox {
    position: relative;
    max-width: 100%;
    height: 100vh;
    margin: 2em 0;
  }

  /* Aplicar el efecto de oscurecimiento directamente a la imagen */
  #demoBox img {
    width: 100%; /* La imagen tomará todo el ancho disponible */
    height: 100vh; /* Mantiene la proporción correcta sin estirarse en la altura */
    object-fit: cover; /* Ajusta la imagen al contenedor sin distorsionar */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    filter: brightness(0.5); /* Controla la cantidad de oscuridad */
  }

  
  .image-title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 3.5em;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    z-index: 10;
  }

  .image-location {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.2em;
    font-weight: lighter;
    text-align: center;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    z-index: 10;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .gallery-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24em;        /* Ancho completo del contenedor */
    height: 20em;      /* Ajustar la altura fija que desees */
    overflow: hidden;    /* Ocultar cualquier contenido que sobresalga */
    box-sizing: border-box; /* Asegurarte de incluir padding y borde */
  }

  .gallery-image img {
    width: 100%;        /* Asegurarse de que la imagen ocupe todo el ancho del contenedor */
    height: 100%;       /* Asegurarse de que la imagen ocupe toda la altura del contenedor */
    object-position: center; /* Centrar la imagen en el contenedor */
    object-fit: cover;
  }

  /* Estilos para imágenes grandes */
  .gallery-image.big-image {
    width: 95%;   /* La imagen ocupará todo el ancho de su contenedor */
    height: auto;  /* Ajustar la altura automáticamente */
    max-width: 100%;
  }

  .gallery-image.big-image img {
    object-fit: cover;  /* Asegura que la imagen ocupe todo el espacio sin distorsionarse */
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {

  .btn-back {
    position: fixed;
    top: 15%;
    left: 8%;
    width: 45px;
    height: 45px;
  }
  
  .btn-back > i {
    font-size: 25px; /* Ajustar el tamaño del icono */
  }
  /* Contenedor de la descripción */
  .project-description {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 4em 4em 2em 4em;
    line-height: 1.6;
    font-size: 1.2em;
    color: #666;
  }

  .project-description p {
    text-align: justify;
  }
  /* Estilo para el contenedor con imagen y título superpuesto */
  #demoBox.with-title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  #demoBox {
    position: relative;
    max-width: 100%;
    height: 100vh;
    margin: 2em 0;
  }

  /* Aplicar el efecto de oscurecimiento directamente a la imagen */
  #demoBox img {
    width: 100%; /* La imagen tomará todo el ancho disponible */
    height: 100vh; /* Mantiene la proporción correcta sin estirarse en la altura */
    object-fit: cover; /* Ajusta la imagen al contenedor sin distorsionar */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    filter: brightness(0.5); /* Controla la cantidad de oscuridad */
  }

  
  .image-title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 4em;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    z-index: 10;
  }

  .image-location {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.2em;
    font-weight: lighter;
    text-align: center;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    z-index: 10;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .gallery-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 43em;        /* Ancho completo del contenedor */
    height: 30em;      /* Ajustar la altura fija que desees */
    overflow: hidden;    /* Ocultar cualquier contenido que sobresalga */
    box-sizing: border-box; /* Asegurarte de incluir padding y borde */
  }

  .gallery-image img {
    width: 100%;        /* Asegurarse de que la imagen ocupe todo el ancho del contenedor */
    height: 100%;       /* Asegurarse de que la imagen ocupe toda la altura del contenedor */
    object-position: center; /* Centrar la imagen en el contenedor */
    object-fit: cover;
  }

  /* Estilos para imágenes grandes */
  .gallery-image.big-image {
    width: 95%;   /* La imagen ocupará todo el ancho de su contenedor */
    height: auto;  /* Ajustar la altura automáticamente */
    max-width: 100%;
  }

  .gallery-image.big-image img {
    object-fit: cover;  /* Asegura que la imagen ocupe todo el espacio sin distorsionarse */
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

  #logo-title-nav {
    display: none;
  }
.btn-back {
    position: fixed;
    top: 15%;
    left: 8%;
    width: 45px;
    height: 45px;
  }
  
  .btn-back > i {
    font-size: 25px; /* Ajustar el tamaño del icono */
  }
  /* Contenedor de la descripción */
  .project-description {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 4em 4em 2em 4em;
    line-height: 1.6;
    font-size: 1.2em;
    color: #666;
  }

  .project-description p {
    text-align: justify;
  }
  /* Estilo para el contenedor con imagen y título superpuesto */
  #demoBox.with-title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  #demoBox {
    position: relative;
    max-width: 100%;
    height: 100vh;
    margin: 2em 0;
  }

  /* Aplicar el efecto de oscurecimiento directamente a la imagen */
  #demoBox img {
    width: 100%; /* La imagen tomará todo el ancho disponible */
    height: 100vh; /* Mantiene la proporción correcta sin estirarse en la altura */
    object-fit: cover; /* Ajusta la imagen al contenedor sin distorsionar */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    filter: brightness(0.5); /* Controla la cantidad de oscuridad */
  }

  
  .image-title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 4em;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    z-index: 10;
  }

  .image-location {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.2em;
    font-weight: lighter;
    text-align: center;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    z-index: 10;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .gallery-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 49em;        /* Ancho completo del contenedor */
    height: 30em;      /* Ajustar la altura fija que desees */
    overflow: hidden;    /* Ocultar cualquier contenido que sobresalga */
    box-sizing: border-box; /* Asegurarte de incluir padding y borde */
  }

  .gallery-image img {
    width: 100%;        /* Asegurarse de que la imagen ocupe todo el ancho del contenedor */
    height: 100%;       /* Asegurarse de que la imagen ocupe toda la altura del contenedor */
    object-position: center; /* Centrar la imagen en el contenedor */
    object-fit: cover;
  }

  /* Estilos para imágenes grandes */
  .gallery-image.big-image {
    width: 95%;   /* La imagen ocupará todo el ancho de su contenedor */
    height: auto;  /* Ajustar la altura automáticamente */
    max-width: 100%;
  }

  .gallery-image.big-image img {
    object-fit: cover;  /* Asegura que la imagen ocupe todo el espacio sin distorsionarse */
  }
}

@media screen and (min-width: 1025px) {

  /* Contenedor de la descripción */
  .project-description {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 4em 4em 2em 4em;
    line-height: 1.6;
    font-size: 1.3em;
    color: #666;
  }

  .project-description p {
    text-align: justify;
  }
  /* Estilo para el contenedor con imagen y título superpuesto */
  #demoBox.with-title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  #demoBox {
    position: relative;
    max-width: 100%;
    height: 100vh;
    margin: 2em 0;
  }

  /* Aplicar el efecto de oscurecimiento directamente a la imagen */
  #demoBox img {
    width: 100%; /* La imagen tomará todo el ancho disponible */
    height: 100vh; /* Mantiene la proporción correcta sin estirarse en la altura */
    object-fit: cover; /* Ajusta la imagen al contenedor sin distorsionar */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    filter: brightness(0.5); /* Controla la cantidad de oscuridad */
  }

  
  .image-title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 4em;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    z-index: 10;
  }

  .image-location {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.2em;
    font-weight: lighter;
    text-align: center;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    z-index: 10;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .gallery-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75em;        /* Ancho completo del contenedor */
    height: 40em;      /* Ajustar la altura fija que desees */
    overflow: hidden;    /* Ocultar cualquier contenido que sobresalga */
    box-sizing: border-box; /* Asegurarte de incluir padding y borde */
  }

  .gallery-image img {
    width: 100%;        /* Asegurarse de que la imagen ocupe todo el ancho del contenedor */
    height: 100%;       /* Asegurarse de que la imagen ocupe toda la altura del contenedor */
    object-position: center; /* Centrar la imagen en el contenedor */
    object-fit: cover;
  }

  /* Estilos para imágenes grandes */
  .gallery-image.big-image {
    width: 95%;   /* La imagen ocupará todo el ancho de su contenedor */
    height: auto;  /* Ajustar la altura automáticamente */
    max-width: 100%;
  }

  .gallery-image.big-image img {
    object-fit: cover;  /* Asegura que la imagen ocupe todo el espacio sin distorsionarse */
  }
}
